* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

.output {
    background-color: yellowgreen;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}